:root {
    --primary-color: #006455;
    --background-color: #CAD2C5;
    --accent-color: #433A3F;
    --tips-color: #7699D4;
    --error-color: #D00000;
    --white-color-100: #fff;
    --white-color-200: #EEEEEE;
}

.AccountContainer {
    background-color: var(--white-color-200);
    position: relative;
    height: 640px;
    width: 960px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0 20px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    outline: solid var(--accent-color) 1px;
}

.FarmingdaleLogoContainer {
    position: relative;
    height: 100px;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.AccountFormContainer {
    position: relative;
    width: 600px;
    height: 310px;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.AccountForm {
    width: 100%;
    height: 90%;
    margin-top: 15px;
}

.Inputs {
    height: 100%;
    width: 100%;
}

.FormItem {
    position: relative;
}

.FormInput {
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    border: solid thin black;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    font-size: 15px;
    padding-left: 10px;
}

.FormLabel {
    font-size: 20px;
}

.FormSubmitContainer {
    height: 50px;
    width: 70%;
    margin: 0 auto 0 auto;
}

.FormSubmitButton {
    background-color: var(--primary-color);
    color: white;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    font-size: 15px;
    cursor: pointer;
}

    .FormSubmitButton:hover {
        background-color: rgba(0, 100, 85, .7);
        transform: scaleY(1.05);
    }