.NavBarContainer {
    box-shadow: var(--box-shadow);
    background-color: var(--white-color-200);
    padding: 0.8rem 0;
    display: flex;
    align-items: center;
}

.FarmingdaleEmblem {
    max-height: 8rem;
}

.OasisHeader {
    font-size: 20px;
}

.pages {
    font-size: 20px;
    position: absolute;
    right: 50px;
    display: flex;
    align-items: center;
}

.pageLink {
    position: relative;
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    width: 12rem;
    height: 4rem;
    margin: 10px 10px 10px 10px;
    border: none;
    cursor: pointer;
    text-align: center;
}

.pageLink:hover {
    opacity: 0.8;
}

.pageLink-text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}