@page "/home"

<link href="./css/general-styles.css" rel="stylesheet" />
<link href="./css/HomePage.css" rel="stylesheet" />

<div class="page">
    <NavBar PageTitle="Home"/>
    <div class="container">
        @* Schedule Option *@
        <div class="option-container">
            <div class="option-title-container">
                <h2 class="option-title">Schedule</h2>
            </div>
            <a class="option-img-container" href="/schedule">
                <img class="option-img" src="./Assets/schedule-img.jpg" alt="" />
            </a>
        </div>

        @* Register Option *@
        <div class="option-container">
            <div class="option-title-container">
                <h2 class="option-title">Register</h2>
            </div>
            <a class="option-img-container" href="/register">
               <img class="option-img img-hover-zoom" src="./Assets/register-img.jpg" alt="" />
            </a>
        </div>
    </div>
</div>

@code {

}
