<link href="./css/AccountForm.css" rel="stylesheet"/>

<div class="AccountContainer">
    <div class="FarmingdaleLogoContainer">
            <img class="FarmingdaleLogo" src="Assets/farmingdaleLogoWord.png"/>
    </div>
    <div class="AccountFormContainer">
        <form class="AccountForm">
            <div class="Inputs">
                <div class="FormItem">
                    <label for="email" class="FormLabel">Email Address</label><br />
                    <input type="email" name="email" class="FormInput" />
                </div>
                <div class="FormItem">
                    <label for="password" class="FormLabel">Password</label><br />
                    <input type="text" name="password" class="FormInput" />
                </div>
            </div>
            <div class="FormSubmitContainer">
                <button class="FormSubmitButton">Log In!</button>
            </div>
        </form>
    </div>
</div>

@code {

}
