<link href="./css/LogInCreateAccountTab.css" rel="stylesheet"/>

<div class="TabContainer">
    <div class="LogInTab">
        <button class="LogInButton" id="@LogInButtonStatus" @onclick="TabSwitchLogIn" >Log In!</button>
    </div>
    <div class="CreateAccountTab">
        <button class="CreateAccountButton" id="@CreateAccountButtonStatus" @onclick="TabSwitchCreateAccount" >Create Account!</button>
    </div>
</div>

@code {
    private string LogInButtonStatus = "";
    private string CreateAccountButtonStatus = "InActive";

    void TabSwitchLogIn() {
        CreateAccountButtonStatus = "InActive";
        LogInButtonStatus = "";
    }

    void TabSwitchCreateAccount()
    {
        LogInButtonStatus = "InActive";
        CreateAccountButtonStatus = "";
    }
}
