<link href="./css/general-styles.css" rel="stylesheet" />
<link href="./css/LogInMessage.css" rel="stylesheet" />

<div class="NotLoggedIn">
    <h1 class="LogInMessage">Please log in to access the system.</h1>
    <a class="LinkToLogIn" href="/">Log in page...</a>
</div>

@code {

}
