@using EnhancedOasis.Models

@inject ActiveAccount _ActiveAccount
@inject NavigationManager NM 

<link href="./css/NavBar.css" rel="stylesheet" />

<div class="NavBarContainer">
    <div class="FarmingdaleEmblemContainer">
        <img class="FarmingdaleEmblem" src="Assets/farmingdaleEmblem.png" />
    </div>
    <div class="OasisHeader">
        <h2 class="OasisDesc">@PageTitle</h2>
    </div>
    @if(PageTitle == "Register For Courses" || PageTitle == "Your Schedule") {
    <div class="pages">
        <a class="pageLink" href="/home"><span class="pageLink-text">Home</span></a>
        <a class="pageLink" href="/schedule"><span class="pageLink-text">Schedule</span></a>
        <a class="pageLink" href="/register"><span class="pageLink-text">Register</span></a>
        <a class="pageLink" @onclick="Logout"><span class="pageLink-text">Log Out</span></a>
    </div>
    }
    @if (PageTitle == "Home")
    {
        <div class="pages">
            <button class="pageLink" @onclick="Logout">Log Out</button>
        </div>       
    }
</div>

@code {
    [Parameter]
    public string? PageTitle { get; set; }

    private void Logout() 
    {
        _ActiveAccount.ID = 0;
        _ActiveAccount.FirstName = "";
        NM.NavigateTo("/", true);
    }
}
