<link href="./css/NavBar.css" rel="stylesheet"/>

<div class="NavBarContainer">
    <div class="FarmingdaleEmblemContainer">
        <img class="FarmingdaleEmblem" src="Assets/farmingdaleEmblem.png" />
    </div>
    <div class="OasisHeader">
        <h2 class="OasisDesc">Oasis - Online Administrative Student Information System</h2>
    </div>
</div>

@code {

}
